PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/database
GEMINI_API_KEY=your-gemini-api-key
JWT_SECRET=your-jwt-secret
FRONTEND_URL=http://localhost:5500
RESEND_API_KEY=your-resend-account-api-key

# NOT-REQUIRED
# GMAIL_USER=your-email@gmail.com
# GMAIL_APP_PASS=your-app-password